image: rust:latest

stages:
  - test
  - build
  - release

variables:
  CARGO_HOME: "${CI_PROJECT_DIR}/.cargo"
  RUSTUP_HOME: "${CI_PROJECT_DIR}/.rustup"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - target/
    - .cargo/registry
    - .cargo/git
    - .rustup/

test:
  stage: test
  script:
    - rustup default stable  # Set default toolchain first
    - rustup component add rustfmt
    - cargo fmt --all -- --check
    - rustup component add clippy
    - cargo clippy --all-targets -- -D warnings
    - cargo test --all

build:
  stage: build
  script:
    - rustup default stable  # Set default toolchain first
    - rustup target add x86_64-unknown-linux-musl
    - cargo build --release --target=x86_64-unknown-linux-musl
  rules:
    - if: '$CI_COMMIT_TAG'
  artifacts:
    paths:
      - target/x86_64-unknown-linux-musl/release/${CI_PROJECT_NAME}
    expire_in: 1 week

publish:
  stage: release
  script:
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file target/x86_64-unknown-linux-musl/release/${CI_PROJECT_NAME} \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}/${CI_PROJECT_NAME}"
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file target/x86_64-unknown-linux-musl/release/${CI_PROJECT_NAME} \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/latest/${CI_PROJECT_NAME}"
  rules:
    - if: '$CI_COMMIT_TAG'
  needs:
    - build